Protocol 2
Port 22
#HostKey ~/.ssh/ssh_host_key
HostKey ~/.ssh/id_rsa
AuthorizedKeysFile ~/.ssh/ssh_authorized_keys
Subsystem sftp internal-sftp

# Allow only SFTP from this server.
#ForceCommand internal-sftp
PermitTunnel no
AllowAgentForwarding no
AllowTcpForwarding yes
X11Forwarding no
PasswordAuthentication yes
PermitRootLogin yes
UsePAM yes

# The authorized keys file is not actually writable in the guest, since the uid
# of the owner isn't mapped. But since the owner of the file isn't the user
# who's logging in, we can't use strict modes checking.
StrictModes no
